In [5]:

#importing required libraries
import pandas as pd

In [6]:
#importing the dataset
dataset = pd.read_csv('http://www.ishelp.info/data/insurance.csv')

In [7]:
dataset.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [8]:
dataset.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [9]:
#Checking the number of rows and columns
dataset.shape

(1338, 7)

In [10]:
dataset.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [11]:
#Checking the total count of variables in a dataset
print(f' age: {dataset.age.count()}')
print(f' sex: {dataset.sex.count()}')
print(f' bmi: {dataset.bmi.count()}')
print(f' children: {dataset.children.count()}')
print(f' smoker: {dataset.smoker.count()}')
print(f' region: {dataset.region.count()}')
print(f' charges: {dataset.charges.count()}')

 age: 1338
 sex: 1338
 bmi: 1338
 children: 1338
 smoker: 1338
 region: 1338
 charges: 1338

In [12]:
#Checking the number of unique values in a dataset
print(f' age: {dataset.age.nunique()}')
print(f' sex: {dataset.sex.nunique()}')
print(f' bmi: {dataset.bmi.nunique()}')
print(f' children: {dataset.children.nunique()}')
print(f' smoker: {dataset.smoker.nunique()}')
print(f' region: {dataset.region.nunique()}')
print(f' charges: {dataset.charges.nunique()}')

 age: 47
 sex: 2
 bmi: 548
 children: 6
 smoker: 2
 region: 4
 charges: 1337

In [13]:
#Checking the datatypes available in our dataset
#we will use dtype which is a pandas property
#Checking the number of unique values in a dataset
print(f' age: {dataset.age.dtype}')
print(f' sex: {dataset.sex.dtype}')
print(f' bmi: {dataset.bmi.dtype}')
print(f' children: {dataset.children.dtype}')
print(f' smoker: {dataset.smoker.dtype}')
print(f' region: {dataset.region.dtype}')
print(f' charges: {dataset.charges.dtype}')

 age: int64
 sex: object
 bmi: float64
 children: int64
 smoker: object
 region: object
 charges: float64

In [14]:
#checking for null values in a dataset
dataset.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64


BOUNDARIES AND MIDDLES OF THE DATASET

In [18]:
#for range and middles we will use a python library known as numpy
import numpy as np

In [19]:
print(dataset.describe())

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [20]:
#Calculating the standard deviation
print(f' Standard deviation =  {dataset.charges.std()}')

 Standard deviation =  12110.011236694001

In [21]:
#numpy always assume the dataset as a population
print(f' Standard deviation =  {np.std(dataset.charges)}')

 Standard deviation =  12105.484975561612

In [22]:
#To adjust numpy as sample we use c
print(f' Standard deviation =  {np.std(dataset.charges, ddof=1)}')

 Standard deviation =  12110.011236694001

SKEWNESS AND KURTOSIS

In [ ]:
import scipy.stats as stats